.khung{
	height: 1500px;
	background: silver;
	margin: 0 auto;
}
/*-----phan hieu*/
.khung .header{
	width: 100%;
	height: 80px;
	background: white;
	margin: 0;
	float: left;
	box-sizing: border-box;
}
.header a{
	float: left;
	display: block;
	width: 10%;
	margin-left: : 30px;
	/*background-color: ;*/
}
.header a img{
	float: left;
	display: block;
	height: 60px;
	padding-top: 10px;
	padding-left: 25px;
}
.header #menu{
	box-sizing: border-box;
	float: left;
	width: 90%;
	background: black;
	margin: 0;
	padding-left: 10px;
}
#menu a{
	float: left;
	text-decoration: none;
	text-align: center;
	color: white;	
	padding-right: 10px;
	line-height: 80px;
}
#menu a.active{
	color: #6196ed;
}
#menu a:hover{
	color: #6196ed;
}
/*/-----------phần hien----------------*/
/*/phan luong--------------------------------*/
<<<<<<< HEAD
=======
.square{
	width: 100%;
	height: 300px;
	background:   #f2f2f2;

	
}

.square .hop1{
	/*margin-left: 2%;*/
	float: left;
	width: 20%;
	height: 100%;
	/*background: green;*/
}
.hop1 .pic{
	width: 100px;
	height: 100px;
	/*background: yellow;*/
}
.pic img{
	width: 100%;
	height: 100%;
	padding: 20px 75px;
	border-radius: 	50%;
}
.hop1 h3{
	margin: 0;
	display: block;
	width: 100%;
	height: 0px;
	/*background: white;*/
	padding: 35px 80px;
}
.hop1 p{
	margin: 0;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
}
.hop1 a{
	text-decoration: none;
}
.diff{
	margin-right: 5%;	
	margin-left: 5%;
}




>>>>>>> cb339c93a52c22599e74a16a54c40fe29f11bd85
/*/phan y------------------------------*/
/*/phan nhan------------------------------*/
/*/phan truong------------------------------*/